.wrapperCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-family: Arial, sans-serif;
    font-size: 16px;

    .inputCheckbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.checkmark {
            background-color: var(--background-2);
            border-color: var(--positive);

            &::after {
                display: block;
            }
        }

        &:hover~.checkmark {
            border-color: var(--beige-2);
        }
    }

    .checkmark {
        position: relative;
        height: 25px;
        width: 25px;
        background-color: var(--background-2);
        border: 2px solid var(--highlight-beige);
        border-radius: 4px;
        transition: background-color 0.3s, border-color 0.3s;

        &::after {
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: 1px;
            width: 8px;
            height: 13px;
            border: solid var(--white-1);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    .title {
        margin-left: 8px;
    }

    &:hover .checkbox~.checkmark {
        border-color: var(--positive);
    }
}