.wrapper {
    display: flex;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;

    @media (max-width: 768px) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .content {
        display: flex;
        align-items: center;
        gap: 20px;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }
}