.TaskSidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 0.3;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    opacity: 0;
    visibility: hidden;

    .topContainer {
        display: flex;
        align-items: flex-start;
        gap: 15px;
    }

    .sidebarTitle {
        font-size: 24px;
        color: #ffffff;
        transition: color .3s ease-in-out;
    }

    .done {
        color: var(--positive);
    }
}

.visible {
    opacity: 1;
    visibility: visible;
}