:root {

    --black: #000000;
    --gray-1: #38404b;
    --white-1: #fbfcff;
    --white-2: #fbfcffc7;

    --red-1: tomato;
    --red-2: darkred;

    --beige-1: #e7e0d698;
    --beige-2: #e7e0d652;
    --highlight-beige: rgba(214, 207, 198, 0.16);

    --green-1: teal;

    --background-1: var(--gray-1);
    --background-2: var(--highlight-beige);
    --foreground-1: var(--white-1);

    --positive: var(--green-1);

    --negative-1: var(--red-1);
    --negative-2: var(--red-2);

    //FONT-SIZE
    // 12px
    --fs-xs: 0.75rem;
    // 15px
    --fs-sm: 0.94rem;
    // 16px
    --fs-srg: 1rem;
    // 20px
    --fs-rg: 1.25rem;
    // 24px
    --fs-lrg: 1.5rem;
    // 32px
    --fs-lg: 2rem;
    // 40px
    --fs-mlg: 2.5rem;
    // 48px
    --fs-elg: 3rem;

    //FONT-WEIGHT
    --fw-reg: 400;
    --fw-med: 500;
    --fw-sb: 600;
    --fw-b: 700;
    --fw-eb: 800;
    --fw-bl: 900;
}



body {
    background-color: var(--background-1);
    font-family: "Roboto", sans-serif;
}

/*nullstyle*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    background-color: transparent;
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}