@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {

    --black: #000000;
    --gray-1: #38404b;
    --white-1: #fbfcff;
    --white-2: #fbfcffc7;

    --red-1: tomato;
    --red-2: darkred;

    --beige-1: #e7e0d698;
    --beige-2: #e7e0d652;
    --highlight-beige: rgba(214, 207, 198, 0.16);

    --green-1: teal;

    --background-1: var(--gray-1);
    --background-2: var(--highlight-beige);
    --foreground-1: var(--white-1);

    --positive: var(--green-1);

    --negative-1: var(--red-1);
    --negative-2: var(--red-2);

    //FONT-SIZE
    --fs-10: 0.625rem;
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-22: 1.375rem;
    --fs-24: 1.5rem;
    --fs-26: 1.625rem;
    --fs-28: 1.75rem;
    --fs-30: 1.875rem;
    --fs-32: 2rem;
    --fs-34: 2.125rem;
    --fs-36: 2.25rem;
    --fs-38: 2.375rem;
    --fs-40: 2.5rem;
    --fs-42: 2.625rem;
    --fs-44: 2.75rem;
    --fs-46: 2.875rem;
    --fs-48: 3rem;
    --fs-50: 3.125rem;
    --fs-52: 3.25rem;
    --fs-54: 3.375rem;
    --fs-56: 3.5rem;
    --fs-58: 3.625rem;
    --fs-60: 3.75rem;

    //FONT-WEIGHT
    --fw-reg: 400;
    --fw-med: 500;
    --fw-sb: 600;
    --fw-b: 700;
    --fw-eb: 800;
    --fw-bl: 900;
}



body {
    background-color: var(--background-1);
    font-family: "Rubik", sans-serif;
}

/*nullstyle*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    background-color: transparent;
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}